html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font: 300 11px/1.4 'Helvetiva Neue', 'La Belle Aurore';
  color: rgb(32, 30, 30);
  background-color: #090702;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

